<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/battlehell?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tharinduCHA@8754</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        
        <!--Entity Mapping-->
        <mapping class = "entity.Action"/>
        <mapping class = "entity.Address"/>
        <mapping class = "entity.Barrel"/>
        <mapping class = "entity.Brand"/>
        <mapping class = "entity.Bullet_type"/>
        <mapping class = "entity.Bullets"/>
        <mapping class = "entity.Cart"/>
        <mapping class = "entity.City"/>
        <mapping class = "entity.Gun_condition"/>
        <mapping class = "entity.Gun_status"/>
        <mapping class = "entity.Model"/>
        <mapping class = "entity.Person"/>
        <mapping class = "entity.Product"/>
        <mapping class = "entity.Purchase_Status"/>
        <mapping class = "entity.Stock"/>
        <mapping class = "entity.User"/>
        <mapping class = "entity.Wishlist"/>
        <mapping class = "entity.Forestock"/>
        <mapping class = "entity.Gun_sight"/>
        <mapping class = "entity.Magazine"/>
        <mapping class = "entity.Muzzle"/>
        <!--Entity Mapping-->
        
    </session-factory>
</hibernate-configuration>


